<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAX1PK58/5nkOHKcI44cbnUQAAAAACAAAAAAAQZgAAAAEAACAAAAD7BtkSE59y4cI4o/3f5ESEn7aZ1MjDwW3Qd3T7kfe85gAAAAAOgAAAAAIAACAAAABAof3M+1rREQBPUiILa8ghc321IQfj5SEMqdbBntWPXjAAAABxKCZRR6/No2184JWKJ0rFJCoL4+3hyFfqoxKiZqH7q0ypucQ0J9wHc8Gr3UTL8FFAAAAAgI9mbeyOB6TaQcafFCf63QbyDoQsFZuLk9hbkESNdMuXP0VkPQsfEsga8V+A5g5sMGDb41MpUr+ZcF8VrzpwSA==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAX1PK58/5nkOHKcI44cbnUQAAAAACAAAAAAAQZgAAAAEAACAAAADWS00MYpWgrHZ3Zm2Wy3TdZshuf0iqrWywS/KlIUmlCgAAAAAOgAAAAAIAACAAAAAh/yI/BiUEQXMqkereCIYditCwOIjmkJKK+1o6ww4k3jAAAACDqAJ7VN3PY3rcpNn4qDE0xBC4jwSv7Hv5syrB1P59tgyLxapwyxyodWNGwqN5cuNAAAAAW3afuSAjjz/02cfEQaayyQkGygVZQvsHbFT69k6AwdCxe/QCjzk9Io0jtEzV+0vKQ5yuTw3QNmJQTlakQUVbEw==" />
  </apikeys>
</configuration>